In [8]:
import cv2
import numpy as np
import glob
import pytesseract
import pandas as pd 
from PIL import Image

pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'

In [244]:
def rotateImage(images):
    for i, image in enumerate(images):
        img = Image.open(image)
        img = img.rotate(2)
        img.save('Datasets\\rotated\\plate' + str(i) + '.png', 'PNG')

def adaptiveThreshold(plates):
    for i, plate in enumerate(plates):
        img = cv2.imread(plate)

        gray = cv2.cvtColor(img, cv2.COLOR_RGB2GRAY)
        #cv2.imshow('gray', gray)

        ret, thresh = cv2.threshold(gray, 50, 255, cv2.THRESH_BINARY)
        # cv2.imshow('thresh', thresh)

        threshMean = cv2.adaptiveThreshold(gray, 255, cv2.ADAPTIVE_THRESH_MEAN_C, cv2.THRESH_BINARY, 5, 10)
        # cv2.imshow('threshMean', threshMean)

        threshGauss = cv2.adaptiveThreshold(gray, 255, cv2.ADAPTIVE_THRESH_GAUSSIAN_C, cv2.THRESH_BINARY, 51, 27)
        #cv2.imshow('threshGauss', threshGauss)
        cv2.imwrite("Datasets\\processed\\plate{}.png".format(i), threshGauss)
        #cv2.waitKey(0)


def resize(processed):
    for i, image in enumerate(processed):
        image = cv2.imread(image)

        ratio = 650.0 / image.shape[1]
        dim = (650, int(image.shape[0] * ratio))

        resizedCubic = cv2.resize(image, dim, interpolation=cv2.INTER_CUBIC)

        cv2.imwrite("Datasets\\resized\\plate{}.png".format(i), resizedCubic)
        

def addBorder(resized):
    for i, image in enumerate(resized):
        image = cv2.imread(image)

        bordersize = 14
        border = cv2.copyMakeBorder(image, top=bordersize, bottom=bordersize, left=bordersize, right=bordersize,
                                    borderType=cv2.BORDER_CONSTANT, value=[255, 255, 255])

        cv2.imwrite("Datasets\\borders\\plate{}.png".format(i), border)
        

def cleanOCR(borders):
    detectedOCR = []

    for i, image in enumerate(borders):
        image = cv2.imread(image)

        edges = cv2.Canny(image, 50, 150, apertureSize=3)
        lines = cv2.HoughLinesP(image=edges, rho=1, theta=np.pi / 180, threshold=100, lines=np.array([]),
                                minLineLength=100, maxLineGap=80)

        a, b, c = lines.shape
        for i in range(a):
            x = lines[i][0][0] - lines[i][0][2]
            y = lines[i][0][1] - lines[i][0][3]
            if x != 0:
                if abs(y / x) < 1:
                    cv2.line(image, (lines[i][0][0], lines[i][0][1]), (lines[i][0][2], lines[i][0][3]), (255, 255, 255),
                             1, cv2.LINE_AA)

        se = cv2.getStructuringElement(cv2.MORPH_ELLIPSE, (2, 2))
        gray = cv2.morphologyEx(image, cv2.MORPH_CLOSE, se)

        # OCR
        config = '-l eng --oem 1 --psm 3'
        text = pytesseract.image_to_string(gray, config=config)

        validChars = ['A', 'B', 'G', 'H', 'M', 'N', 'R', 'S',
                      'T', 'U', 'V' 'X', 'Y', 'Z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

        cleanText = []

        for char in text:
            if char in validChars:
                cleanText.append(char)

        plate = ''.join(cleanText)
        # print(plate)

        detectedOCR.append(plate)

        # cv2.imshow('img', gray)
        

    return detectedOCR

In [245]:
plates = glob.glob("Datasets\\plates\\*.png")
rotateImage(plates)

In [246]:
rotated_plates = glob.glob("Datasets\\rotated\\*.png")
adaptiveThreshold(rotated_plates)

In [247]:
processed = glob.glob("Datasets\\processed\\*.png")
resize(processed)

In [248]:
resized = glob.glob("Datasets\\resized\\*.png")
addBorder(resized)

In [249]:
bordered = glob.glob("Datasets\\borders\\*.png")
platesList = cleanOCR(bordered)

In [250]:
print(platesList)
plates = pd.DataFrame(platesList)
plates

['S2S504A', 'S2S504A', '12', 'R71S', 'S1109', '', '956871', 'SB6071', 'T7999', '986871', 'SUB1639', 'SSSUB', '', '', '228', 'STH2051', '', '', '', 'STH20TH2051', '', 'HT7990', '', '4NT', '', '', 'SN4243', 'SM4243', 'RTU720', '', 'ST2S17', 'SA', 'SHAT', '7N7A', '7990', '', 'T71', '71', 'HT720A', '']

              0
0       S2S504A
1       S2S504A
2            12
3          R71S
4         S1109
5
6        956871
7        SB6071
8         T7999
9        986871
10      SUB1639
11        SSSUB
12
13
14          228
15      STH2051
16
17
18
19  STH20TH2051
20
21       HT7990
22
23          4NT
24
25
26       SN4243
27       SM4243
28       RTU720
29
30       ST2S17
31           SA
32         SHAT
33         7N7A
34         7990
35
36          T71
37           71
38       HT720A
39